.navbar {
    padding: 20px;
    font-size: 18px;
    margin-bottom: 100px;
    border-bottom-color: lightcoral;
    text-align: end;
     
}

ul {
    list-style-type: none;
}




.navbear {
    height: 60px;
    padding-right: 50px;
    
}

.sleepybear {
    padding-left: -220px;
    height: 50%;
   

}

.picture img {
    height: 300px;
    background-size: contain;

}

.shop {
    display: inline-flex;
}

p.title {
    font-size: 14px;
    font-family:'Comic Sans MS';
    color: darkolivegreen;
}

body {
    background-color: white;
}