@model IEnumerable<Gummybear.Models.Product>
@using Gummybear.Models

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop">

    @foreach (var product in Model)
    {
        @if (product.Picture != "")
        {
            <a class="picture" href="@Url.Action("Details", "Products", new { id = product.ProductId })">
                <img id="giant-bear" src="@Html.DisplayFor(model => product.Picture)" /><br />
            </a>
        }         
    }

</div>
